.c0,
.color0,
.c0 label,
a.c0 {
	color: #000000;
}
.c1,
.color1,
.c1 label {
	color: #656468;
}
.c2,
.color2,
.c2 label {
	color: #fff;
}
.c3,
.color3,
.c3 label {
	color: #4a8d4f;
}
.c5,
.color5,
.c5 label {
	color: #cdd485;
}
.c6,
.color5,
.c6 label {
	color: #f3f5d3;
}
.c7,
.c7 label {
	color: $red;
}
.bgC1 {
	background-color: #3d4f61;
}
.bgC5 {
	background-color: #f5f5f5;
}
.bgC7 {
	background-color: #f1f3ff;
}
.bgC9 {
	background-color: #fff;
}
.bgC10 {
	background-color: #373734;
}
/*
.bgI2 {
	background: #373734 url('/header-bg.jpg');
}*/
