
#adminEditMenu ul.sortable,
#sortableListsBase {
	margin-left: 0;
	list-style-type: none;
}

#adminEditMenu ul,
#sortableListsBase ul {
	padding: 0;
	margin: 0 0 0 50px;
	color: #375f8e;
	list-style-type: none;
}

#adminEditMenu li,
#sortableListsBase li {
	background-color: #8fe9d2;
}

#adminEditMenu li div,
#sortableListsBase div {
	padding: 10px;
	background-color: #fff;
	border: 2px solid #8fe9d2;
}