#footerPusher {
	/* must be at the end of wrapper cause margin-bottom -5em pulls the footer up */
	clear: both;
	height: 5em;
}

#footer {
	text-align: center;
	font-weight: normal;
	height: 5em;
	width: 100%;
	padding: 2em 5%;
	color: #8c8c8c;

	strong {
		color: #8c8c8c;
	}
}