html,
body,
textarea,
ul,
li,
h1,
h2,
h3,
h4,
h5,
form {
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	height: 100%;
	background: #fff;
	color: #000000;
	font-family: Trebuchet MS, sans-serif;
	font-weight: normal;
	font-size: 15px;
	box-sizing: border-box;
}
body {
	position: relative;
	overflow: auto;
}
#wrapper {
	min-height: 100%;
	margin-bottom: -5em;
	/* makes footer visible cause 100% push it outside of window */
}
table,
tbody,
thead,
tr,
th,
td {
	border-collapse: collapse;
}
p {
	margin: 0 0 14px;
	padding: 5px 0;
}
b,
strong {
	color: #444;
}
h1 {
	font-family: Trebuchet MS, verdana;
	color: #b63c3c;
	font-size: 2.2em;
	font-weight: bold;
	letter-spacing: -1px;
	margin-bottom: 15px;
}
h1 a {
	color: #b63c3c;
}
h1 a:active {
	color: #3aa391;
}
/*h1 a { color: @c3; }*/
h2,
h3,
h4 {
	font-weight: bold;
	font-family: "Helvetica Neue", Trebuchet MS, verdana;
	margin: 14px 0 0;
	padding: 5px 0;
}
#main h2 {
	font-size: 1.35em;
	color: #3aa391;
}
#main h3 {
	font-size: 1.1em;
	color: #b63c3c;
}
#main h4 {
	font-size: 1em;
	color: #7491a3;
}
#main ol,
#main ul {
	list-style-position: outside;
	padding-left: 25px;
	margin: 0 0 14px;
}
#main img.fL {
	margin: 7px 14px 5px 0;
	-webkit-box-shadow: 3px 3px 7px #555;
	-moz-box-shadow: 3px 3px 7px #555;
	box-shadow: 3px 3px 7px #555;
}
#main img.fR {
	margin: 7px 0 5px 7px;
	-webkit-box-shadow: -3px 3px 7px #555;
	-moz-box-shadow: -3px 3px 7px #555;
	box-shadow: -3px 3px 7px #555;
}

a {
	color: #056296;
	text-decoration: none;
}
a.current {
	color: #b63c3c;
}
a:hover,
a:active {
	color: #3aa391;
	text-decoration: none;
}
a:focus,
a:active,
a:visited {
	text-decoration: none;
}
ul li ul li a:hover {
	color: #3aa391;
}

.control {
	color: #fff;
}
ul.pagination {
	margin: 0;
	padding: 0;
}
.hr {
	margin-top: 40px;
	padding-top: 20px;
	border-top: 1px dotted #889999;
}
.nbsp {
	white-space: nowrap;
}
.area400 {
	width: 400px;
	height: 60px;
}
.area500 {
	height: 500px;
}
.area600 {
	height: 600px;
}
div.g-signin2 {
	display: inline-block;
}
/* Google sign in button */
#ajax-spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	background: transparent url('/www/images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 12345;
	display: none;
}

a[href^="error:"] {
	background: red;
	color: white;
}
/* form errors */
.error,
ul.error li {
	color: #df5148;
	margin: 0;
	padding: 3px;
	font-weight: bold;
	list-style-type: none;
}
/* end form errors */
table.datagrid {
	background-color: #f5f5f5;
	color: #3d4f61;
}
table.datagrid th {
	background-color: #dfe0eb;
}
table.datagrid td,
table.datagrid th {
	padding: 7px;
	border: 1px solid #3aa391;
}
html.js .jshidden {
	display: none;
}
#tracy-debug h1 {
	/* seká sa to s csskom zo stránky */
	letter-spacing: 0;
	text-shadow: 0 0 0 #fff;
}
#main ul.breadcrumbs {
	padding-left: 0;
}
li.breadcrumbs {
	display: inline-block;
	padding: 5px 0;
	color: #3aa391;
	font-weight: bold;
}
li.breadcrumbs a {
	color: #3aa391;
}
li.breadcrumbs a:hover {
	color: #27D2BD;
}
.hover1:hover {
	background-color: #F0F5BF;
}
.hover2:hover {
	background-color: #f3f5d3;
}
.hover3:hover {
	background-color: #e9eaf5;
}

pre.prettyprint.custom {
	margin-left: -7px;
	margin-right: -7px;
	padding: 10px 7px;
	background-color: #f9faff;
	border: 1px solid #e1e4ef;
	overflow: auto;
	word-wrap: normal;
}

