html, body, textarea, ul, li, h1, h2, h3, h4, h5, form {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	background: #fff;
	color: #000000;
	font-family: Trebuchet MS, sans-serif;
	font-weight: normal;
	font-size: 15px;
	box-sizing: border-box;
}
body {
	position: relative;
	overflow: auto;
}
#wrapper {
	min-height: 100%;
	margin-bottom: -5em;
	/* makes footer visible cause 100% push it outside of window */
}
table, tbody, thead, tr, th, td {
	border-collapse: collapse;
}
p {
	margin: 0 0 14px;
	padding: 5px 0;
}
b, strong {
	color: #444;
}
h1 {
	font-family: Trebuchet MS, verdana;
	color: #b63c3c;
	font-size: 2.2em;
	font-weight: bold;
	letter-spacing: -1px;
	margin-bottom: 15px;

	a {
		color: #b63c3c;

		&:active {
			color: #3aa391;
		}
	}
}
h2, h3, h4 {
	font-weight: bold;
	font-family: "Helvetica Neue", Trebuchet MS, verdana;
	margin: 14px 0 0;
	padding: 5px 0;
}
#main h2 {
	font-size: 1.35em;
	color: #3aa391;
}
#main h3 {
	font-size: 1.1em;
	color: #b63c3c;
}
#main h4 {
	font-size: 1em;
	color: #7491a3;
}
#main ol,
#main ul {
	list-style-position: outside;
	padding-left: 25px;
	margin: 0 0 14px;
}
#main img.fL {
	margin: 7px 14px 5px 0;
	-webkit-box-shadow: 3px 3px 7px #555;
	-moz-box-shadow: 3px 3px 7px #555;
	box-shadow: 3px 3px 7px #555;
}
#main img.fR {
	margin: 7px 0 5px 7px;
	-webkit-box-shadow: -3px 3px 7px #555;
	-moz-box-shadow: -3px 3px 7px #555;
	box-shadow: -3px 3px 7px #555;
}

a {
	color: #056296;
	text-decoration: none;
}
a.current {
	color: #b63c3c;
}
a:hover,
a:active {
	color: #3aa391;
	text-decoration: none;
}
a:focus,
a:active,
a:visited {
	text-decoration: none;
}
table.datagrid {
	background-color: #f5f5f5;
	color: #3d4f61;
}
table.datagrid th {
	background-color: #dfe0eb;
}
table.datagrid td,
table.datagrid th {
	padding: 7px;
	border: 1px solid #3aa391;
}

html.js .jshidden {
	display: none;
}

pre.prettyprint.custom {
	margin-left: -7px;
	margin-right: -7px;
	padding: 10px 7px;
	background-color: #faf9ff;
	border: 1px solid #ececec;
	overflow: auto;
	word-wrap: normal;
}

