#sortableCategoriesWrapper {
	margin: 7px 0;
}

#adminEditMenu ul.sortable,
#s-l-base {
	margin-left: 0;
	list-style-type: none;
}

#adminEditMenu ul,
#s-l-base ul {
	padding: 0;
	margin: 0 0 0 50px;
	color: #375f8e;
	list-style-type: none;

	&.sortable {
		margin-left: 0;
	}
}

#adminEditMenu li,
#s-l-base li {
	background-color: #b5e9e3;
}

#adminEditMenu li div,
#s-l-base div {
	padding: 10px;
	background-color: #fff;
	border: 2px solid #b5e9e3;

	.fa {
		float: right;
	}
}