.modal-header {
	padding: 2rem 2.5rem 0;
	border-bottom: none;

	h3 {
		margin: 0;
		padding: 0;
		color: #000;
	}

	.close {
		color: #000;
		opacity: 0.9;
	}
}

.modal-body {
	padding: 2rem 2.5rem;

	label {
		color: #664949;
	}
}

.modal-footer {
	padding: 0 2.5rem 2rem 2.5rem;
	border-top: none;
}